:root{
    --c_negro:#eee;
}
*{
    font-size:2.5vh;
}
body{
    background-color:var(--c_negro);
}
.header1{
    color:white;
}
.imgLogo{
    width:15%;
    height:15%;
}
a{
    all:unset;
}
a:hover{
    color:#858585;
    cursor:pointer;
}
li{
    list-style-type:none;
}